
<div ng-controller="SearchController">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="input-group">
          <input type="text" class="form-control input-lg" placeholder="Movie Name" ng-model="model.query" />
          <span class="input-group-btn">
            <button class="btn btn-primary btn-lg" title="Search" ng-click="showResults()"><i class="fa fa-search"></i> Search</button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
          <ul>
            <li ng-repeat = "movie in model.movieList">
                {{ movie.title }} {{ movie.rated }}
            </div>
          </ul>
        </div>
    </div>
  </div>
</div>
</div>
