
<div ng-controller="SearchController">
  <nav class="well">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>AngularJS Demo</h2>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="input-group">
          <input type="text" class="form-control input-hg" placeholder="Movie Name" ng-model="data.searchQuery" />
          <span class="input-group-btn">
            <button class="btn btn-primary btn-hg" title="Search"><i class="fui-search"></i>Search</button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        
      </div>
    </div>
  </div>
</div>
